@media screen and (max-width: 520px){
  .duck__container {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
  }
}
  
@media screen and (min-width: 520px) and (max-width: 940px){
  .duck__container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (min-width: 940px){
  .duck__container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
  }
}

.duck {
  &__container {
    height: 300px;
    width: 300px;
    background: #56accc;
    border-radius: 25%;
    border: 20px solid green;
    margin-bottom: 50px;
  }

  &__item {
    img {
      width: 60px;
      transform: scaleX(-1);
      mix-blend-mode: multiply;
    }
  }
}
